@font-face {
  font-family: "Netflix";
  src: url("../fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Netflix";
  src: url("../fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
:root {
  --color-primary: #000;
  --color-secondary: #fff;
}
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: Netflix;
  max-width: 1264px;
  margin: auto;
}
.header {
  min-width: 250px;
  max-width: 1264px;
  width: 100%;
  padding: 15px;
  position: fixed;
  margin: auto;
  display: flex;
  align-items: center;
  z-index: 999;
  background-color: var(--color-primary);
  /* background-image: linear-gradient(
    to bottom,
    var(--color-primary) 0%,
    var(--color-primary) 50%,
    rgba(0, 0, 0, 0.5) 85%,
    transparent 100%
  ); */
}
.navigation-item {
  list-style: none;
}
.navigation path {
  display: none;
}
.navigation-item a {
  outline: none;
  color: var(--color-secondary);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation {
  display: grid;
  grid-auto-columns: 150px;
  grid-auto-flow: column;
  justify-content: space-around;
}
.main {
  min-width: 250px;
  max-width: 1264px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 75px;
  margin-bottom: 10px;
}
.main h2 {
  margin: 15px 0 30px;
}
.list-content {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
}
.list-item {
  display: inline-block;
  margin-left: 10px;
}
.list-item:first-child {
  margin: 0;
}
.list-item a {
  display: flex;
}
.list-item:hover {
  outline: auto;
}
.list {
  padding: 0 1em;
}
.footer {
  min-width: 250px;
  max-width: 1264px;
  width: 100%;
  margin: auto;
}
.credits {
  /* font-family: system-ui; */
  font-family: Arial;
  background: #212429;
  font-size: 11px;
  color: white;
  padding: 0.5rem 0;
  text-align: center;
}
.credits a {
  color: #f865b0;
  text-decoration: none;
}
.flecha-izquierda,
.flecha-derecha {
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  font-size: 40px;
  height: 288px;
  line-height: 40px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
  outline: none;
}
/* .flecha-izquierda:hover,
.flecha-derecha:hover {
  transform: scale(1.2);
} */
.flecha-izquierda {
  left: 0;
}
.flecha-derecha {
  right: 0;
}
.r-one {
  top: 149px;
}
.r-two {
  top: 528px;
}
.r-three {
  top: 913px;
}
.r-four {
  top: 707px;
}
.pelicula-principal {
  font-size: 16px;
  min-height: 650px;
  color: #fff;
  margin-bottom: 3.12em;
  display: flex;
  align-items: end;
}
.pelicula-principal h3 {
  margin-top: 75px;
}
.pelicula-principal .contenedor {
  margin-left: 50px;
  margin-top: 50px;
  /* margin-bottom: 5.25em; */
}
.pelicula-principal {
  max-width: 1264px;
  margin: auto;
}
.pelicula-principal .titulo {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 0.4em;
}
.pelicula-principal .descripcion {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.75em;
  max-width: 50%;
  margin-bottom: 1.25em;
}
.pelicula-principal .boton {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  margin-bottom: 1.25em;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1.12em;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
}
.pelicula-principal .boton:hover {
  background: #fff;
  color: #000;
}
.pelicula-principal .boton i {
  margin-right: 1.25em;
}
.section {
  margin: 10px auto;
  max-width: 1264px;
}
.section h2 {
  margin-bottom: 20px;
}
.section .list {
  padding: 0 1em 1em;
}

.busqueda {
  max-width: 1264px;
}
.busqueda iframe {
  width: 100%;
  height: 50vh;
  outline: none;
}
.busqueda .search-box {
  display: flex;
}
.busqueda .pop-overlay {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  background: rgba(25, 23, 23, 0.81);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.85);
  height: 100vh;
}
.busqueda .pop-overlay:target {
  visibility: visible;
  opacity: 1;
}
.busqueda .popup {
  margin: 0 auto;
  min-width: 250px;
  max-width: 800px;
  border-radius: 3px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 2em;
}
.busqueda .pop-overlay .close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 495px) {
  .busqueda .search-box {
    display: block;
  }
  .busqueda .popup {
    padding: 1em;
  }
}
@media screen and (max-width: 767px) {
  .header {
    position: relative;
    width: 0;
    margin: 0;
  }
  .navigation {
    background-color: var(--color-primary);
    grid-auto-columns: initial;
    grid-auto-flow: column;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    padding: 1em 0 2.6em;
    z-index: 5;
  }
  .navigation a {
    color: #6e6e6e;
    display: block;
  }
  .navigation path {
    display: block;
    fill: #6e6e6e;
  }
  .navigation-item svg {
    display: block;
    margin: auto;
  }
  .navigation-item:hover :is(path, span) {
    fill: #fff !important;
    color: #fff !important;
  }
  .main {
    margin-bottom: 110px;
    padding-top: 0;
  }
  .pelicula-principal h3 {
    margin-top: 0px;
  }
  .section {
    margin-bottom: 110px;
    padding-top: 0;
  }
  .credits {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 999;
  }
  .list-content {
    overflow-x: auto;
  }
  .footer {
    width: 0;
  }
  .r-one {
    top: 133px;
  }
  .r-two {
    top: 515px;
  }
  .r-three {
    top: 897px;
  }
  .r-four {
    top: 693px;
  }
  .pelicula-principal {
    min-height: 575px;
  }
  .pelicula-principal .descripcion {
    font-size: 14px;
  }
}
@media screen and (max-width: 550px) {
  .pelicula-principal .descripcion {
    max-width: 75%;
  }
}
@media screen and (max-width: 480px) {
  .pelicula-principal .descripcion {
    max-width: 90%;
  }
}
